# Ne pas inclure ces répertoires dans le contrôle de version
# Ce sont les noms de dossiers par défaut, à adapter si nécessaire
target/
dbt_packages/
logs/

# Contenu par défaut ajouté par dbt Cloud
target/
dbt_packages/
logs/

